<div class="container">
    <div class="jt_row jt_row-fluid row">
        <div class="col-md-12 jt_col column_container">
            <h2 class="section-title">Qui sommes-nous ?</h2>
        </div>
        <div class="col-md-6 col-md-offset-3 jt_col column_container">
            <div class="section-subtitle">
                MotherTrucker est une aventure commune, un choix de vie et une passion que nous transmettons dans tous nos plats.
            </div>
        </div>


        <div class="col-md-6 jt_col column_container">
            <h2 class="heading font-smoothing">L'histoire</h2>
            <p class="text">
                Le foodtruck <strong>MotherTrucker</strong> est une aventure dans laquelle nous, Alhame et Pablo, voulions nous lancer depuis quelques années, par choix de vivre une passion et de travailler à notre rythme.
                Pendant près de deux ans, Alhame a exercé son savoir et peaufiné ses recettes dans divers établissements pour nous permettre de finaliser ce projet qui nous ressemble : une cuisine généreuse, qui bouge et un accueil chaleureux, plein de bonne humeur.
                A bord de notre <strong>MotherTrucker</strong>, nous vous proposons une restauration originale et un service rapide, toujours dans le bon tempo.
            </p>
            <p class="text">
                A proximité de votre lieu de travail ou de chez vous, nous vous accueillons pour des pauses déjeuner détendues qui satisferont appétits et papilles. Un bon plein de saveurs et de fraîcheur pour le reste de la journée !
            </p>

            <div class="ornament"></div>
        </div>

        <div class="col-md-6 jt_col column_container">
            <div id="owl-about" class="owl-carousel">
                <div class="item"><img src="{{ asset('images/about01.jpg') }}" alt=""></div>
                <div class="item"><img src="{{ asset('images/about02.jpg') }}" alt=""></div>
                <div class="item"><img src="{{ asset('images/about03.jpg') }}" alt=""></div>
            </div>
        </div>
    </div>
    <div class="jt_row jt_row-fluid row">
        <div class="col-md-6 jt_col column_container">
            <div class="voffset10"></div>
            <div id="owl-about2" class="owl-carousel">
                <div class="item"><img src="{{ asset('images/about04.jpg') }}" alt=""></div>
                <div class="item"><img src="{{ asset('images/about05.jpg') }}" alt=""></div>
                <div class="item"><img src="{{ asset('images/about06.jpg') }}" alt=""></div>
            </div>
        </div>



        <div class="col-md-6 jt_col column_container">

            <p class="text">
                Nous sélectionnons avec soin nos légumes, toujours de saison, et nos viandes françaises, pour confectionner nos pains, sauces, marinades et transformations nous-mêmes.
                A consommer sur place ou à emporter, vous trouvez des sandwiches de brochettes, salades, plats du jour, frites... il y en a pour tous les goûts.

            </p>
            <p class="text">
                Outre notre service de restauration du midi, nous assurons votre régalade lors de festivals, anniversaires, enterrements de célibat, mariages ou n'importe quel événement convivial.
                <br/>
                De quoi déguster et apprécier de mille façons notre cuisine gourmande.
            </p>
        </div>
    </div>

</div>