<div class="jt_row jt_row-fluid row">
    <div class="col-md-12 jt_col column_container">
        <h2 class="section-title">Galerie</h2>
        <div class="col-md-6 col-md-offset-3 jt_col column_container">
            <div class="section-subtitle">
                Les photos, c'est sympa mais ça ne nourrit pas... venez nous retrouver pour votre pause repas !
            </div>
        </div>

    </div>

    <div class="col-md-12 jt_col column_container">

        <nav class="primary">
            <ul>
                <li><a href="#" data-filter="*" class="selected"><span>Toutes les photos</span></a></li>
                <li><a href="#" data-filter=".plats"><span>Nos plats</span></a></li>
                <li><a href="#" data-filter=".camion"><span>Le camion</span></a></li>
                <li><a href="#" data-filter=".nous"><span>Nous</span></a></li>
            </ul>
        </nav>

        <div class="portfolio">

            <article class="entry nous">
                <a class="swipebox" href="images/gallery/nous1.jpg">
                    <img src="{{ asset('images/gallery/nous1.jpg') }}" class="img-responsive" alt=""/>
                    <span class="magnifier"></span>
                </a>
            </article>

            <article class="entry camion">
                <a class="swipebox" href="images/gallery/camion1.jpg">
                    <img src="{{ asset('images/gallery/camion1.jpg') }}" class="img-responsive" alt=""/>
                    <span class="magnifier"></span>
                </a>
            </article>

            <article class="entry noust">
                <a class="swipebox" href="images/gallery/nous2.jpg">
                    <img src="{{ asset('images/gallery/nous2.jpg') }}" class="img-responsive" alt=""/>
                    <span class="magnifier"></span>
                </a>
            </article>

            <article class="entry camion">
                <a class="swipebox" href="images/gallery/camion2.jpg">
                    <img src="{{ asset('images/gallery/camion2.jpg') }}" class="img-responsive" alt=""/>
                    <span class="magnifier"></span>
                </a>
            </article>

            <article class="entry nous">
                <a class="swipebox" href="images/gallery/nous3.jpg">
                    <img src="{{ asset('images/gallery/nous3.jpg') }}" class="img-responsive" alt=""/>
                    <span class="magnifier"></span>
                </a>
            </article>

            <article class="entry camion">
                <a class="swipebox" href="images/gallery/camion3.jpg">
                    <img src="{{ asset('images/gallery/camion3.jpg') }}" class="img-responsive" alt=""/>
                    <span class="magnifier"></span>
                </a>
            </article>

            <article class="entry nous">
                <a class="swipebox" href="images/gallery/nous4.jpg">
                    <img src="{{ asset('images/gallery/nous4.jpg') }}" class="img-responsive" alt=""/>
                    <span class="magnifier"></span>
                </a>
            </article>


        </div>
    </div> <!-- End .jt_col -->
</div> <!-- End .jt_row -->
<div class="voffset200"></div>