<!DOCTYPE html>
<html lang="en">
<head>

    <title>Mother Trucker | Food-truck à Montpellier</title>
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Yellowtail%7cCabin:400,500,600,700,400italic,700italic%7cLibre+Baskerville:400italic%7cGreat+Vibes%7cOswald:400,300,700%7cOpen+Sans:600italic,700' rel='stylesheet' type='text/css'>

    <!-- META TAGS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />

    <!-- CSS STYLESHEETS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/elixir.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/color/bluegray.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link href="{{ asset('js/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('js/owl-carousel/owl.theme.css') }}" rel="stylesheet">
    <link href="{{ asset('js/owl-carousel/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('css/YTPlayer.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/swipebox.css') }}">



    <!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <script src="{{ asset('./js/html5shiv.js') }}"></script>
    <script src="{{ asset('./js/respond.js') }}"></script>
    <![endif]-->
</head>
<body class="bluegray">

<!-- <div id="mask">
        <div class="loader">
          <img src="{{ asset('svg-loaders/tail-spin.svg') }}" alt='loading'>
        </div>
    </div> -->


<!-- BEGIN HEADER -->
<header id="header" role="banner">
    {{ render(controller('AppBundle:Front:header')) }}
</header>
<!-- END HEADER -->




<!-- BEGIN HOME SLIDER SECTION -->
<section id="home-slider">
    {{ render(controller('AppBundle:Front:home')) }}
</section>
<!-- END HOME SLIDER SECTION -->





<!-- BEGIN ABOUT SECTION -->
<section id="about" class="section about">
    {{ render(controller('AppBundle:Front:aboutUs')) }}

</section>
<!-- END ABOUT SECTION -->

<!-- BEGIN TIMETABLE SECTION -->
<section id="timetable" class="section timetable parallax">
    {{ render(controller('AppBundle:Front:opening')) }}
</section>
<!-- END TIMETABLE SECTION -->

<!-- BEGIN MENU SECTION -->
<section id="menu" class="section menu">
    {{ render(controller('AppBundle:Front:menu')) }}
</section>
<!-- END MENU SECTION -->

<!-- BEGIN GALLERY SECTION -->
<section id="gallery" class="section gallery dark">
    {{ render(controller('AppBundle:Front:galerie')) }}
</section>
<!-- END GALLERY SECTION -->

<!-- BEGIN RESERVATIONS SECTION -->
<section id="reservations" class="section reservations">
    {{ render(controller('AppBundle:Front:booking')) }}
</section>
<!-- END RESERVATIONS SECTION-->

<!-- BEGIN TESTIMONIALS SECTION -->
<section id="testimonials" class="section testimonials parallax voffset100 clearfix">
    {{ render(controller('AppBundle:Front:testimony')) }}
</section>
<!-- END TESTIMONIALS SECTION -->

<!-- BEGIN CONTACT SECTION -->
<section id="contact" class="section contact dark">
    {{ render(controller('AppBundle:Front:contact')) }}
</section>
<!-- END CONTACT SECTION -->





<!-- BEGIN MAP SECTION -->
<section id="maps" data-lat="43.642849" data-long="3.844310">
    <script type="text/javascript" src="{{ asset('http://maps.google.com/maps/api/js?sensor=false') }}"></script>
    <div class="map-content">
        <div class="wpgmappity_container inner-map" id="wpgmappitymap"></div>
    </div>
</section>
<!-- END MAP SECTION -->




<!-- BEGIN FOOTER -->
<footer id="footer" class="section" role="contentinfo">
    {{ render(controller('AppBundle:Front:footer')) }}
</footer>
<!-- END FOOTER -->
<a href="#0" class="cd-top">Top</a>
<!-- BEGIN Scripts-->

<script src="{{ asset('js/modernizr.custom.js') }}"></script>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/classie.js') }}"></script>
<!--<script src="{{ asset('js/pathLoader.js') }}"></script>-->
<script src="{{ asset('js/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/jquery.inview.js') }}"></script>
<script src="{{ asset('js/jquery.nav.js') }}"></script>
<script src="{{ asset('js/jquery.mb.YTPlayer.js') }}"></script>
<script src="{{ asset('js/jquery.form.js') }}"></script>
<script src="{{ asset('js/jquery.validate.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/default.js') }}"></script>
<script src="{{ asset('js/plugins.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.isotope.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ asset('js/jquery.swipebox.js') }}"></script>

<script type="text/javascript">
    ;(function($) {

        $('.swipebox').swipebox();

        $('#contact-form').on('submit', function(e) {
            var $form = $(this),
                data = {},
                inputs,
                errors,
                i;
            e.preventDefault();

            $form.find('input, textarea').each(function(i, el) {
                data[$(el).attr('name')] = $(el).val();
            });

            $.ajax({
                data: data,
                method: 'post',
                url: '{{ path('ajax_contact') }}',
                success: function(r) {
                    $form
                        .find('input, textarea')
                        .css('background-color', '#627961')
                        .closest('form')
                        .find('button')
                        .attr('disabled', 'disabled')
                        .css({
                            'pointer-events': 'none',
                            'cursor': 'not-allowed',
                            'background-color': '#ccc'
                        });
                },
                error: function(r) {
                    inputs = Object.keys(data),
                    errors = r.responseJSON;
                    for (i = 0; i < inputs.length; i++) {
                        if (errors[inputs[i]] == 'empty') {
                            $form.find('#' + inputs[i]).css('background-color', '#B54A4A');
                        } else if (!(inputs[i] in errors)) {
                            $form.find('#' + inputs[i]).css('background-color', '#2C2A2A');
                        }
                    }
                }
            });
        });

    })(jQuery);
</script>



<!-- END Scripts -->


</body>
</html>
